.achievements_sec {
    padding: 20px;
    z-index: auto;
    position: static;
    margin-bottom: 160px;
}

.achievements_sec .section-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    color: rgb(128, 0, 0);
}

.achievements-grid {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.achievement-item {
    position: relative;
    width: 200px;
    height: 180px;
    overflow: hidden;
    border-radius: 12px;
    flex-shrink: 0;
    border: 2px solid transparent;
}

.achievement-item::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 11px;

    background: linear-gradient(
        90deg,
        #800000,
        #ff4d4d,
        #ffcc00,
        #ff4d4d,
        #800000
    );

    background-size: 300% 300%;
    animation: borderFlow 6s linear infinite;

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
}

.achievement-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.achievement-item label:hover img {
    transform: scale(1.05);
}

.achievement-item input {
    display: none;
}

.achievement-item .modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    z-index: 2001;
}

.achievement-item input:checked ~ .modal {
    opacity: 1;
    pointer-events: all;
}

.modal-content {
    width: min(90vw, 700px);
    height: min(70vh, 500px);
    padding: 12px;

    overflow: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;

    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.achievement-item .modal .close {
    position: absolute;
    top: 20px;
    right: 20px;

    font-size: 36px;
    color: white;
    cursor: pointer;
    z-index: 2002;
}

.achievement-item a img {
    width: 100%;
    height: calc(100% - 30px);
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.achievement-item a:hover img {
    transform: scale(1.05);
}

.achievement-item label img {
    height: calc(100% - 30px); 
}

.achievement-item p {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 6px 0;
    text-align: center;
    font-weight: bold;
    color: rgb(128, 0, 0);
    background: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    z-index: 2;
}
