.gallery_sec {
    padding: 20px;
    position: static;
    z-index: auto;
}

.section-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    color: rgb(128,0,0);
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.gallery-item {
    position: relative;
    width: 200px;
    height: 150px;
    overflow: hidden;
    border-radius: 12px;
    flex-shrink: 0;
    border: 3px solid transparent;
}

.gallery-item::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px; 
    border-radius: 11px;
    background: linear-gradient(
        90deg,
        #800000,
        #ff4d4d,
        #ffcc00,
        #ff4d4d,
        #800000
    );
    background-size: 300% 300%;
    animation: borderFlow 6s linear infinite;

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

@keyframes borderFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.gallery-item label:hover img {
    transform: scale(1.05);
}

.gallery-item input {
    display: none;
}

.gallery-item .modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

.gallery-item input:checked ~ .modal {
    opacity: 1;
    pointer-events: all;
}
.modal-content {
    width: min(90vw, 700px);
    height: min(70vh, 500px);
    padding: 12px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}
.gallery-item .modal .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
    color: white;
    cursor: pointer;
}